{% extends 'main.html' %}

{% block content %}


<style>
    .profile-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div>
    <center><img class="rounded-circle account-img" src = "{{ user.profile.image.url }}"></center>
</div>
<div>
    <center><h1>{{ user.username }}</h1></center>
</div>

<div class = "profile-container">
    <div>
        <div class="media content-section">
            <a href="{% url 'profile' user.id %}?q=questions">Questions</a>
        </div>
        <div class="media content-section">
            <a href="{% url 'profile' user.id %}?q=events">Events</a>
        </div>
        <div class="media content-section">
            <a href="{% url 'profile' user.id %}">All</a>
        </div>
    </div>
    

    <div >
        {% if type == 'questions' %}
            {% include 'questions/feed_component.html'%}
        
        {% elif type == 'events' %}
            {% include 'questions/event_feed.html'%}
        {% else %}
            {% include 'questions/feed_component.html'%}
            {% include 'questions/event_feed.html'%}
        {% endif %}
    </div>

    <div>
        {% include 'questions/activity_component.html' %}
        {% include 'questions/events_component.html' %}
    </div>
</div>

{% endblock content%}