{% extends 'main.html' %}

{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

<div class="home-container">
    <article >
        <div class="media-body">
            <h2>Browse Questions</h2>
            <hr>

            <div class="media content-section">
                <a href="{% url 'list-questions' %}?q=Math">Math</a>
            </div>
            <div class="media content-section">
                <a href="{% url 'list-questions' %}?q=Ela">Ela</a>
            </div>
            <div class="media content-section">
                <a href="{% url 'list-questions' %}?q=Science">Science</a>
            </div>
            <div class="media content-section">
                <a href="{% url 'list-questions' %}?q=Social Studies">Social Studies</a>
            </div>
            <div class="media content-section">
                <a href="{% url 'list-questions' %}">All Questions</a>
            </div>
        </div>
    </article>
    <div>
        
        <center><h3>{{questions_count}} questions</h3></center>
        <center><a class="btn btn-outline-info mb-4" href="{% url 'create-question' %}">Ask a Question</a></center>
        <form method="GET" action="">
            {% csrf_token %}
            <center><input type="text" name="q" placeholder="Search Questions..."></center>
        </form>
        <hr>
        {% include 'questions/feed_component.html' %}
    </div>

    <div>
        {% include 'questions/activity_component.html' %}
    </div>

</div>

{% endblock content %}